.articles-flex {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  @media screen and (max-width: 481px) {
    grid-template-columns: 1fr;
  }
  .article-card {
    height: 120px;
    background: var(--white-area-bg-color);
    padding: 1rem;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: 1rem 1fr 2rem;
    grid-template-areas:
                  "logo createdAt" 
                  "logo title"
                  "logo category";
    &__logo {
      grid-area: logo;
      // background: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      &__emoji {
        background: var(--blue-ara-bg-color);
        padding: .5rem;
        font-size: 2rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
      }
    }
    &__title {
      grid-area: title;
      font-size: 1.1rem;
      margin-left: 1rem;
      margin-top: 1rem;
    }
    &__createdAt {
      align-items: center;
      grid-area: createdAt;
      display: flex;
      align-items: center;
      font-size: .8rem;
      letter-spacing: 1px;
      font-weight: bold;
      margin-left: 1rem;
    }
    &__category {
      grid-area: category;
      display: block;
      width: 5rem;
      max-width: 6rem;
      font-size: .8rem;
      letter-spacing: 1px;
      font-weight: bold;
      background: var(--blue-ara-bg-color);
      color: var(--white-font-color);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-self: last baseline;
    }
  }
}