/* 記事詳細 */
.category-image-article {
  svg {
    width: 3rem;
    height: 3rem;
  }
}

/* 記事一覧public */
.category-image-articles {
  svg {
    display: inline-block;
    width: 3rem;
    height: 3rem;
  }
}

/* トップページカテゴリ */
.category-image-top {
  background: var(--white-area-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem 0;
  &__box {
    margin-right: 1rem;
    .logo {
      svg {
        width: 50px;
        height: 50px;
        border: 2px solid #313746;
        border-radius: 50%;
        background-color: #313746;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }
    }
    .name {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: .9rem;
      color: #313746;
    }
  }
}
.article-title {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: var(--red-area-bg-color);
  width: 200px;
  padding: .8rem 1rem;
  border-radius: 5px;
  margin: 1rem 0 2rem 0;
  letter-spacing: 1.2px;
  svg {
    margin-left: .3rem;
  }
}
