.create {
  // background: gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "input preview";
  gap: 1rem;
  width: 100%;
  background: #fafafa;
  .create-input {
    grid-area: input;
    // flex-basis: 50%;
    // padding: 1rem 0;
    &__title {
      input {
        width: 100%;
      }
    }
    &__category {
      input {
        width: 100%;
      }
    }
    &__image {
      input {
        width: 100%;
      }
    }
    &__contents {
      textarea {
        background: #222222;
        color: #cccc;
        width: 100%;
        height: 500px;
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }
  // preview
  .create-preview {
    grid-area: preview;
    background: #ccc;
    // width: 50%;
    // right: 0;
    // position: fixed;
    // flex-basis: 50%;
    padding: 1rem;
    border: 3rem var(--base-background);
  }
}
// マークダウン CSS
.md-contents {
  h1, h2, h3, h4 {
    margin: .5rem 0;
  }
  pre {
    background-color: #1A2737;
    padding: 1rem;
    color: #E6F2FF;
    overflow-x: scroll;
  }
}